.btn {
    display: block;
    margin: 0 auto 10px auto;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: grey;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    font: inherit;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.is-hidden {
    display: none;
}

.btn:hover {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/green-gobbler.png");
    color: white;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 0px 4px 7px rgba(196, 201, 204, 0.51);
}
